.banner-img {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 75vh;
  cursor: pointer;
}

.view-photos {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: .9rem;
}

.modal-open {
  overflow: hidden;
  width: 100%;
  height: 100%;
}